.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-list-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 0 5px 0 5px;
  margin: 0;
}

.each-tab-item {
  color: #181615;
  list-style-type: none;
  padding: 30px;
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .each-tab-item {
    padding: 15px 5px 15px 5px;
  }
}

.active-tab-item {
  color: #e81a31 !important;
  border-bottom: 5px solid #e81a31;
}

.menu-tab-button {
  color: inherit;
  font-family: 'Roboto';
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-tab-button {
    font-size: 16px;
    width: 180px;
  }
}

.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.dishes-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dishes-list-container {
    padding: 15px;
  }
}
